################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlphaShop/.vs/AlphaShop/FileContentIndex/3170fa2a-b1a0-4957-92ce-1193aaf39dab.vsidx
/AlphaShop/.vs/AlphaShop/FileContentIndex/4bb52c62-dbf4-47eb-82ca-97fcbd09e3aa.vsidx
/AlphaShop/.vs/AlphaShop/FileContentIndex/d0cd8a63-2057-4cd7-bdc1-25c406751a00.vsidx
/AlphaShop/.vs/AlphaShop/FileContentIndex/f04f149f-f4e6-4141-aa1e-624f43d6141c.vsidx
/AlphaShop/.vs/AlphaShop/FileContentIndex/f4dcdc71-998d-4fb4-b931-a310efcfa43d.vsidx
/AlphaShop/.vs/AlphaShop/FileContentIndex/2ff61184-e677-4be6-a589-913b88ad71f7.vsidx
/AlphaShop/.vs/AlphaShop/FileContentIndex/db671df7-f767-4314-a05a-4f5d7442c50f.vsidx
/AlphaShop/.vs/AlphaShop/FileContentIndex/4e48d8e2-ddf2-4dc0-8e84-f5549b429285.vsidx
/AlphaShop/.vs/AlphaShop/FileContentIndex/e818471a-bb96-407a-ab68-816b503433f6.vsidx
/AlphaShop/.vs/AlphaShop/FileContentIndex/fc4407c6-3481-4da9-96e3-79e5d1c30b5b.vsidx
