################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlphaShop-test-main1-resolved/AlphaShop/.vs/AlphaShop/FileContentIndex/297aa5f8-1b26-4b85-a253-75b9ef5f4618.vsidx
/AlphaShop-test-main1-resolved/AlphaShop/.vs/AlphaShop/FileContentIndex/e2b3dfef-458e-46d5-9269-9dfd4d500d98.vsidx
/AlphaShop-test-main1-resolved/AlphaShop/.vs/AlphaShop/FileContentIndex/363be25c-ec13-43e2-9141-de8b4e86e00a.vsidx
/AlphaShop-test-main1-resolved/AlphaShop/.vs/AlphaShop/FileContentIndex/3bb48fee-0172-45bc-af9b-5d5dc3887e83.vsidx
/AlphaShop-test-main1-resolved/AlphaShop/.vs/AlphaShop/FileContentIndex/82112b99-a39d-4cb1-9967-2287b3c10cb0.vsidx
/AlphaShop-test-main1-resolved/AlphaShop/.vs/AlphaShop/FileContentIndex/e6e559bf-00d9-4184-a357-c7fdc38fa889.vsidx
