################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AlphaShop-test-main1-resolved/AlphaShop/.vs/AlphaShop/FileContentIndex/297aa5f8-1b26-4b85-a253-75b9ef5f4618.vsidx
/AlphaShop-test-main1-resolved/AlphaShop/.vs/AlphaShop/FileContentIndex/e2b3dfef-458e-46d5-9269-9dfd4d500d98.vsidx
/AlphaShop-test-main1-resolved/AlphaShop/.vs/AlphaShop/FileContentIndex/363be25c-ec13-43e2-9141-de8b4e86e00a.vsidx
