@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewData["Title"] = "Manage";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/adminhome.css" runat="server" asp-append-version="true">
    @* <script src="~/assets/js/drinkmanage.js" runat="server" asp-append-version="true"></script> *@
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" runat="server" asp-append-version="true">
    <title>Home</title>
</head>
<body>
    @Html.Raw(TempData["msg"])
    <div class="qun-l">
        <div class="div">
            <!--bar-->
            @await Html.PartialAsync("_ManageBars", ViewData["Title"])
            <!--bar-->
        </div>
        <h1>@TempData["Check"]</h1>
    </div>
    @* Home *@
    <div class="container_1">
        <div class="QuanLy">Quản lí</div>
        <h2>Thực hiện công việc quản lí của bạn tại đây</h2>
        <a asp-action="CustomerManage" asp-controller="Manage" class="a1">
            <div class="Rectangle"></div>
            <div class="text__">Quản lí khách hàng</div>

            <div class="icon">
                <i class="fa-solid fa-user"></i>
            </div>

        </a>
        <a asp-action="CustomerManage" asp-controller="Manage" class="a2">
            <div class="Rectangle"></div>
            <div class="text__">Quản lí nhân viên</div>

            <div class="icon">
                <i class="fa-solid fa-user-ninja"></i>
            </div>

        </a>
        <a asp-action="DrinkManage" asp-controller="Manage" class="a3">
            <div class="Rectangle"></div>
            <div class="text__">Quản lí thức uống</div>
            <div class="icon">
                <i class="fa-solid fa-martini-glass"></i>
            </div>
        </a>
    </div>
    @* Home *@


</body>
</html>