@model AccountAddVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@* add *@
<div id="modal2" class="modal" style="display: none;">
    <div class="modal__overlay">
    </div>
    <div class="modal__body2">
        <div class="modal__inner">
            <div class="drink-add">
                <div class="main-text">Tạo tài khoản</div>
                <form method="post" asp-action="AccountAdd" asp-controller="Manage" class="input_area">
                    <div class="input_area-1">
                        <label for="name-box" class="label--1">Tên đăng nhập</label>
                        <input asp-for="ctrLogUsername" type="text" class="name-box" placeholder="Nhập tên đăng nhập" required />
                    </div>
                    <div class="input_area-1">
                        <label for="n-box" class="label--1">Tên thật</label>
                        <input asp-for="ctrUsername" type="text" class="n-box" placeholder="Nhập tên thật" required />
                    </div>
                    <div class="input_area-1">
                        <label for="pass-box" class="label--1">Mật khẩu</label>
                        <input asp-for="ctrPassword" type="text" class="pass-box" placeholder="Nhập mật khẩu" required />
                    </div>
                    <div class="input_area-1">
                        <label for="pass-box" class="label--1">Số điện thoại</label>
                        <input asp-for="ctrPhonenumber" type="text" class="pass-box" placeholder="số điện thoại" required />
                    </div>
                    <div class="input_area-1">
                        <label for="radio-box" class="label--1">Giới tính</label>
                        <div class="radio-box">
                            <input asp-for="ctrGender" type="radio" class="radio__btn" id="rd__1" value="true" required>
                            <label for="rd__1" class="label--2">Nam</label>

                            <input asp-for="ctrGender" type="radio" class="radio__btn" id="rd__2" value="false">
                            <label for="rd__2" class="label--2">Nữ</label>
                        </div>
                    </div>
                    <div class="input_area-1">
                        <label for="radio-box__2" class="label--1">Phân quyền</label>
                        <div class="radio-box__2">
                            <input asp-for="ctrAccess" type="radio" class="radio__btn" id="rd__3" value="1" required>
                            <label for="rd__3" class="label--2">Customer</label>

                            <input asp-for="ctrAccess" type="radio" class="radio__btn" id="rd__4" value="2">
                            <label for="rd__4" class="label--2">Staff</label>
                        </div>
                    </div>
                    <div class="input_area-1">
                        <label for="email_box" class="label--1">Email</label>
                        <input asp-for="ctrEmail" type="email" class="email-box" placeholder="Nhập email" required />
                    </div>
                    <div class="input_area-1">
                        <label for="desc-box" class="label--1">Địa chỉ</label>
                        <textarea asp-for="ctrAddress" class="desc-box" placeholder="Nhập địa chỉ"></textarea>
                    </div>

                    <button type="submit" class="__main--btn" id="btn-OK">OK</button>
                    <button type="button" class="__main--btn" id="btn-Cancel">Hủy</button>
                </form>
            </div>
        </div>
    </div>
</div>
@* add *@

