@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="modal2" class="modal">
    <div class="modal__overlay">
    </div>
    <div class="modal__body">
        <div class="modal__inner">
            <div class="container">
                <div class="login-box">
                    <h2>Đổi số điện thoại</h2>
                    <div class="input-group">
                        <label for="new_SDT">Nhập số điện thoại mới</label>
                        <input type="text" class="input" name="new" required>
                    </div>
                    <div class="input-group">
                        <label for="new_pass1">Mã xác nhận</label>
                        <input type="text" class="input1" name="new" required>
                        <button class="btn1">Gửi mã</button>
                    </div>
                    <button class="btn1">Đồng ý</button>
                    <button class="btn1" id="ev1">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>
