<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/main.css" runat="server" asp-append-version="true">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <title>Home</title>
</head>
<body>
    <!-- #navbar-->
    @await Html.PartialAsync("_NavBar")
    <div>
        <div style = "min-height:400px;">
            @RenderBody()
        </div>
    </div>
    @await Html.PartialAsync("_Footer")
    
</body>

</html>