@*  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/loggin_navbar.css">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <title>Home</title>
</head>
 <!-- #navbar-->
    <header class="nav">
        <div class="nav__bar--1">
            <ul class="nav__flag--lang">
                <button class="nav__flag" id = "nav__flag1"></button>
                <button class="nav__flag" id = "nav__flag2"></button>
                <button class="nav__flag" id = "nav__flag3"></button>
            </ul>
            <div class="nav__logo"></div>
            <a asp-area="" asp-controller="GuestMenu" asp-action="Cartinfo"><button class = "cart_icon" id = "cart_icon"></button></a>
            <a class = "accountlink"asp-area="" asp-controller="GuestMenu" asp-action="Userinfo">Xin chào, Nguyễn Hữu Khoa</a>
        </div>
        <div class="nav__bar--2">
            <ul class="nav__list">
                <a asp-area="" asp-controller="GuestMenu" asp-action="Index"><button class="nav__item">Trang chủ</button></a>
                <a asp-area="" asp-controller="GuestMenu" asp-action="AboutUs"><button class="nav__item">Về chúng tôi</button></a>
                <a asp-area="" asp-controller="GuestMenu" asp-action="Category"><button class="nav__item">Danh mục</button></a>
                <a asp-area="" asp-controller="GuestMenu" asp-action="Recruit"><button class="nav__item">Tuyển dụng</button></a>
                <a asp-area="" asp-controller="GuestMenu" asp-action="New"><button class="nav__item">Sản phẩm mới</button></a>
                <a asp-area="" asp-controller="GuestMenu" asp-action="Place"><button class="nav__item">Chi nhánh</button></a>

            </ul>
        </div>
    </header> *@