@using AlphaShop.Models
@using System.Security.Claims
@ViewData["Check"]
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var access3 = Context.User.IsInRole("3");
    var name = Context.User.Identity.Name;
}



<div class="horizontal-bar">
                <div class="option__holder">
                    <a asp-action="Index" asp-controller="Manage" class="text-wrapper-2">Trang chủ</a>
                    <a asp-action="CustomerManage" asp-controller="Manage" class="text-wrapper-2">Quản lí khách hàng</a>
                    <a asp-action="StaffManage" asp-controller="Manage" class="text-wrapper-2">Quản lí nhân viên</a>
                    <a asp-action="DrinkManage" asp-controller="Manage" class="text-wrapper-2">Quản lí thức uống</a>
                    <a asp-action="Statistic" asp-controller="Manage" class="text-wrapper-2">Thống kê</a>
                </div>
                @if(Context.User.Identity.IsAuthenticated)
                @if(access3){
                    <div class="account__name">Xin chào, @name</div>

                }
</div>

<div class="vertical-bar">
    <img class="group" src="~/assets/img/nav-bar/Group1.png" />
    @if ((string)TempData["Check"] == "Index")
    {
        <h2 class="title1">Chưa có gì ở đây cả</h2>
        <h2 class="title2">Lựa chọn công cụ quản lý ở thanh công cụ</h2>
        <div class="text-wrapper-6" style="padding-left: 25px;">Trang chủ</div>
    }
    @if((string)TempData["Check"] == "DrinkManage")
    {
        
        <div class="btn__holder">
            <button class="component __main--btn" id="add_prd">Thêm thức uống</button>
            <button class="component __main--btn" id="add_ctg">Thêm danh mục</button>
        </div>
        <div class="text-wrapper-6">Quản lí thức uống</div>
    }
    @if ((string)TempData["Check"] == "CustomerManage")
    {

        <div class="btn__holder">
            <button class="component __main--btn" id="creat_acc">Tạo tài khoản</button>
        </div>
        <div class="text-wrapper-6">Quản lí khách hàng</div>
    }
    @if ((string)TempData["Check"] == "StaffManage")
    {

        <div class="btn__holder">
            <button class="component __main--btn" id="creat_acc">Tạo tài khoản</button>
        </div>
        <div class="text-wrapper-6">Quản lí nhân viên</div>
    }
    @if ((string)TempData["Check"] == "Statistic")
    {

        <div class="btn__holder">
            <button class="component __main--btn">Tạo tài khoản</button>
        </div>
        <div class="text-wrapper-6">Thống kê</div>
    }
</div>