@using AlphaShop.Models
@using System.Security.Claims
@ViewData["Check"]
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var access3 = Context.User.IsInRole("3");
    var name = Context.User.Identity.Name;
}

<style>
    .menu_comp {
        width: 100px;
        margin-top: 5px;
        margin-left: 20px;
        /* top: 21px; */
        /* left: 25px; */
        text-decoration: none;
        font-weight: bolder;
        padding: 5px;
        color: #ffffff;
        font-size: 14px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
    }

        .menu_comp:active {
            background-color: white;
            color: black;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
</style>

<div class="horizontal-bar">
    <div class="option__holder">
        <a asp-action="Index" asp-controller="Manage" class="menu_comp" id="MHome">Trang chủ</a>
        <a asp-action="CustomerManage" asp-controller="Manage" class="menu_comp" id="MCtr">Quản lí khách hàng</a>
        <a asp-action="StaffManage" asp-controller="Manage" class="menu_comp" id="MStaff">Quản lí nhân viên</a>
        <a asp-action="DrinkManage" asp-controller="Manage" class="menu_comp" id="MDrink">Quản lí thức uống</a>
        <a asp-action="Statistic" asp-controller="Manage" class="menu_comp" id="MStats">Thống kê</a>
    </div>
    @if (Context.User.Identity.IsAuthenticated)
        @if (access3)
        {
            <div class="account__name">Xin chào, @name</div>

        }
</div>

<div class="vertical-bar">
    <img class="group" src="~/assets/img/nav-bar/Group1.png" />
    @if ((string)TempData["Check"] == "Index")
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const temp = document.getElementById('MHome').style;
                temp.backgroundColor = "white";
                temp.color = "black";
                temp.borderTopLeftRadius = "10px";
                temp.borderTopRightRadius = "10px";
            });
        </script>
        <h2 class="title1">Chưa có gì ở đây cả</h2>
        <h2 class="title2">Lựa chọn công cụ quản lý ở thanh công cụ</h2>
        <div class="text-wrapper-6" style="font-weight: bold; font-size: 16px;">Trang chủ</div>
    }
    @if ((string)TempData["Check"] == "DrinkManage")
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const temp = document.getElementById('MDrink').style;
                temp.backgroundColor = "white";
                temp.color = "black";
                temp.borderTopLeftRadius = "10px";
                temp.borderTopRightRadius = "10px";
            });
        </script>
        <div class="btn__holder">
            <button class="component __main--btn" id="add_prd">Thêm thức uống</button>
            <button class="component __main--btn" id="add_ctg">Thêm danh mục</button>
        </div>
        <div class="text-wrapper-6">Quản lí thức uống</div>
    }
    @if ((string)TempData["Check"] == "CustomerManage")
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const temp = document.getElementById('MCtr').style;
                temp.backgroundColor = "white";
                temp.color = "black";
                temp.borderTopLeftRadius = "10px";
                temp.borderTopRightRadius = "10px";
            });
        </script>
        <div class="btn__holder">
            <button class="component __main--btn" id="creat_acc">Tạo tài khoản</button>
        </div>
        <div class="text-wrapper-6">Quản lí khách hàng</div>
    }
    @if ((string)TempData["Check"] == "StaffManage")
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const temp = document.getElementById('MStaff').style;
                temp.backgroundColor = "white";
                temp.color = "black";
                temp.borderTopLeftRadius = "10px";
                temp.borderTopRightRadius = "10px";
            });
        </script>
        <div class="btn__holder">
            <button class="component __main--btn" id="creat_acc">Tạo tài khoản</button>
        </div>
        <div class="text-wrapper-6">Quản lí nhân viên</div>
    }
    @if ((string)TempData["Check"] == "Statistic")
    {
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const temp = document.getElementById('MStats').style;
                temp.backgroundColor = "white";
                temp.color = "black";
                temp.borderTopLeftRadius = "10px";
                temp.borderTopRightRadius = "10px";
            });
        </script>
        <div class="btn__holder">
            <button class="component __main--btn">Tạo tài khoản</button>
        </div>
        <div class="text-wrapper-6">Thống kê</div>
    }
</div>