@using AlphaShop.Models
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/guest_navbar.css" runat="server" asp-append-version="true">
    <link href="~/assets/css/dropdown.css" rel="stylesheet" runat="server" asp-append-version="true">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <title>Home</title>
</head>

@* @inject AccountService AccountService *@

<body>

    <header class="nav">
        @* @{
        var name = ViewData["Account"] as string;
        } *@
        @{
            var ctrid = Context.User.Claims.SingleOrDefault(p => p.Type == "CtrId")?.Value;
            var name = Context.User.Identity.Name;
            var access = Context.User.IsInRole("1");
            var access2 = Context.User.IsInRole("2");
            var access3 = Context.User.IsInRole("3");
        }
        @* <div class="nav__bar--1">
        <ul class="nav__flag--lang">
        <button class="nav__flag" id = "nav__flag1"></button>
        <button class="nav__flag" id = "nav__flag2"></button>
        <button class="nav__flag" id = "nav__flag3"></button>
        </ul>
        <div class="nav__logo"></div>
        <ul class="nav__acc">
        <a asp-area="" asp-controller="GuestMenu" asp-action="Login"><button class="__main--btn" id = "nav__login">Đăng nhập</button></a>
        <a asp-area="" asp-controller="GuestMenu" asp-action="Register"><button class="__main--btn" id = "nav__sign-up">Đăng kí</button></a>
        </ul>
        </div>
        <div class="nav__bar--2">
        <ul class="nav__list">
        <a asp-area="" asp-controller="GuestMenu" asp-action="Index"><button class="nav__item">Trang chủ</button></a>
        <a asp-area="" asp-controller="GuestMenu" asp-action="AboutUs"><button class="nav__item">Về chúng tôi</button></a>
        <a asp-area="" asp-controller="GuestMenu" asp-action="Category"><button class="nav__item">Danh mục</button></a>
        <a asp-area="" asp-controller="GuestMenu" asp-action="Recruit"><button class="nav__item">Tuyển dụng</button></a>
        <a asp-area="" asp-controller="GuestMenu" asp-action="New"><button class="nav__item">Sản phẩm mới</button></a>
        <a asp-area="" asp-controller="GuestMenu" asp-action="Place"><button class="nav__item">Chi nhánh</button></a>

        </ul>
        </div> *@
        <input type="hidden" value=@ctrid id="cartId" />

        <div class="nav__bar--1" >
            <div class="nav__flag--lang" style="opacity: 0;">
                <button class="nav__flag" id="nav__flag1"></button>
                <button class="nav__flag" id="nav__flag2"></button>
                <button class="nav__flag" id="nav__flag3"></button>
            </div>
            <div class="nav__logo"></div>

            <div>

                @if (Context.User.Identity.IsAuthenticated)
                {
                    if (access)
                    {
                        @* <form class="nav__acc">
                <button asp-area="" asp-controller="Cart" asp-action="Index" class="cart_icon" id="cart_icon"></button>
                <a class="accountlink" asp-area="" asp-controller="UserInfo" asp-action="Index">Xin chào, @AccountService.Customer.CtrUsername</a>
                <button asp-action="Logout" asp-controller="Log" class="__main--btn" id="Logout">Đăng xuất</button>
                </form> *@

                        @* new *@
                        <form class="nav__acc">
                            <button asp-area="" asp-controller="Cart" asp-action="Index" class="cart_icon" id="cart_icon">
                                <div class="cartcount" id="quantity__jq" style="display: inline-block;
    background-color: red;
    color: white;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    font-size: 12px;
    text-align: center;
    line-height: 20px; /* Đảm bảo số lượng ở giữa hình tròn */
    margin-bottom: 50px; /* Điều chỉnh vị trí so với biểu tượng giỏ hàng */
    margin-left: 0px; /* Điều chỉnh vị trí so với biểu tượng giỏ hàng */
    border: 1px solid white; /* Border màu trắng xung quanh */">
                                    
                                </div>
                            </button>
                            <div class="dropdown">
                                <button class="dropbtn">Xin chào, @name</button>
                                <div class="dropdown-content">
                                    <a class="accountlink" asp-area="" asp-controller="UserInfo" asp-action="Index">Thông tin tài khoản</a>
                                    <a class="accountlink" asp-area="" asp-controller="Log" asp-action="Logout">Đăng xuất</a>

                                </div>
                            </div>
                        </form>
                        @* new *@
                    }
                    else if (access2)
                    {
                        <form class="nav__acc">
                            <button asp-area="" asp-controller="Cart" asp-action="Index" class="cart_icon" id="cart_icon"></button>
                            <div class="dropdown">
                                <button class="dropbtn">Xin chào, @name</button>
                                <div class="dropdown-content">
                                    <a class="accountlink" asp-area="" asp-controller="UserInfo" asp-action="Index">Thông tin tài khoản</a>
                                    <a class="accountlink" asp-area="" asp-controller="Staff" asp-action="Index">Quản lí nhận đơn</a>
                                    <a class="accountlink" asp-area="" asp-controller="Log" asp-action="Logout">Đăng xuất</a>

                                </div>
                            </div>

                        </form>
                    }
                    else if (access3)
                    {
                        <form class="nav__acc">
                            <button asp-area="" asp-controller="Cart" asp-action="Index" class="cart_icon" id="cart_icon"></button>
                            <div class="dropdown">
                                <button class="dropbtn">Xin chào, @name</button>
                                <div class="dropdown-content">
                                    <a class="accountlink" asp-area="" asp-controller="UserInfo" asp-action="Index">Thông tin tài khoản</a>
                                    <a class="accountlink" asp-area="" asp-controller="Manage" asp-action="Index">Quản lí</a>
                                    <a class="accountlink" asp-area="" asp-controller="Log" asp-action="Logout">Đăng xuất</a>

                                </div>
                            </div>

                        </form>
                    }
                }
                else
                {
                    <form class="nav__acc">
                        <button asp-action="Login" asp-controller="Log" class="__main--btn" id="nav__login">Đăng nhập</button>
                        <button asp-action="Register" asp-controller="Log" class="__main--btn" id="nav__sign-up">Đăng kí</button>
                    </form>
                }
            </div>
        </div>
        <form class="nav__bar--2">
            <ul class="nav__list">
                <button asp-action="Index" asp-controller="Home" class="nav__item">Trang chủ</button>
                <button asp-action="AboutUs" asp-controller="Home" class="nav__item">Về chúng tôi</button>
                <button asp-action="Index" asp-controller="Category" class="nav__item">Danh mục</button>
                <button asp-action="Recruitment" asp-controller="Home" class="nav__item">Tuyển dụng</button>
                <button asp-action="NewProduct" asp-controller="Home" class="nav__item">Sản phẩm mới</button>
                <button asp-action="Agencies" asp-controller="Home" class="nav__item">Chi nhánh</button>
            </ul>
        </form>
    </header>
</body>

</html>
<script>
    $(document).ready(function () {
        var id = $('#cartId').val();
        console.log(id);
        if (id !== null) {
            $.get('/Cart/GetQuantity?id=' + id, function (quantity) {
                console.log(quantity);
                $('#quantity__jq').text(quantity);
            });
        }
    });
</script>