@model AlphaShop.Data.Product
@{
    ViewData["Title"] = "Info";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/assets/css/drinkinfo.css">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <title>Home</title>
</head>
<body>
    <!-- #done-->

    <!--#drinkChoice-->
    <img class="DrinkImg" src="~/@Model.PrdImage" />
    <div class="DescChoice">
        <div class="DrinkName">@Model.PrdName</div>
        <div class="Size">Size:</div>
            <div class="option_btn" style="width: 45px; height: 30px; left: 610px; top: 75px;">
    <button class="size_box" onclick="toggleSelection(this)">M</button>
</div>
<div class="option_btn" style="width: 45px; height: 30px; left: 675px; top: 75px;">
    <button class="size_box" onclick="toggleSelection(this)">X</button>
</div>
<div class="option_btn" style="width: 45px; height: 30px; left: 740px; top: 75px;">
    <button class="size_box" onclick="toggleSelection(this)">XL</button>
</div>
<div class="Loai">Loại:</div>
<div class="option_btn" style="width: 183px; height: 30px; left: 609px; top: 130px;">
    <button class="loai_box" onclick="toggleSelection(this)">Cà phê rang xay</button>
</div>
<div class="option_btn" style="width: 217px; height: 30px; left: 812px; top: 130px;">
    <button class="loai_box" onclick="toggleSelection(this)">Cà phê bình thường</button>
</div>
<script>
    // Hàm để chuyển đổi trạng thái chọn của button
function toggleSelection(button) {
    // Lấy tất cả các nút trong cùng một nhóm
    var optionButtons = document.querySelectorAll('.' + button.classList[0]);

    // Loại bỏ lớp "selected" từ tất cả các nút trong nhóm
    optionButtons.forEach(function(btn) {
        btn.classList.remove('selected');
    });

    // Thêm lớp "selected" cho nút được click
    button.classList.add('selected');

    // Khi click vào button, thêm lớp "hovered" để giữ trạng thái hover
    button.classList.add('hovered');

    // Loại bỏ lớp "hovered" từ tất cả các nút trong nhóm
    optionButtons.forEach(function(btn) {
        if (btn !== button) {
            btn.classList.remove('hovered');
        }
    });
}

</script>
            <div class="Ghichu">Ghi chú thêm cho người bán:</div>
                <div class="ghichu_box">
                    <textarea class="inputGhichu" id="inputGhichu" placeholder="Nhập ghi chú tại đây (vd: thêm đường,...)"></textarea>
            </div>            
            <form class="option_btn" style="width:200px; height: 46px; left: 524px; top: 382px;">
                <button class="order_box" asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.PrdId">ĐẶT HÀNG NGAY</button>
            </form>
            <form class="option_btn" style="width: 200px; height: 46px; left: 700px; top: 382px;">
                <button class="order_box" asp-action="UpdateCart" asp-controller="Cart" asp-route-id="@Model.PrdId">THÊM VÀO GIỎ</button>
            </form>
        <div class="option_btn" style="width: 289px; height: 46px; left: 0px; top: 1403px;">
            <button class="login_box" >ĐĂNG NHẬP ĐỂ NHẬN XÉT</button>
        </div>
    </div>
    <!--#drinkChoiceEnd--> 

    <!--ReviewBox-->
    <div class="Rectangle21" style="width: 100%; height: 40px; left: 0px; top: 799px; position: absolute; background: #8C8A8A"></div>
    <div class="CustomerReview" style="left: 208px; top: 809px; position: absolute; color: white; font-size: 20px; font-family: JetBrains Mono; font-style: italic; font-weight: 500; line-height: 20px; word-wrap: break-word">Đánh giá của khách hàng</div>

    <ul class ="review-list">
        <il class="Component">
            <div class="Comment">
                <img class="Ellipse5" src="~/assets/img/review/hanabi.png"/>
                <ul class="ratings">
                    <img class="Star1" src="~/assets/img/review/star-1.png" />
                    <img class="Star2" src="~/assets/img/review/star-1.png" />
                    <img class="Star3" src="~/assets/img/review/star-1.png" />
                    <img class="Star4" src="~/assets/img/review/star-1.png" />
                    <img class="Star5" src="~/assets/img/review/star-1.png" />
                </ul>
                <div class="Legiahan617" >legiahan617</div>
                <div class="reviewtext">Không gì tuyệt vời bằng 1 lượng caffein buổi sáng!!!</div>
            </div>
        </il>

        <il class="Component">
            <div class="Comment">
                <img class="Ellipse5" src="~/assets/img/review/hanabi.png" />
                <ul class="ratings">
                    <img class="Star1" src="~/assets/img/review/star-1.png" />
                    <img class="Star2" src="~/assets/img/review/star-1.png" />
                    <img class="Star3" src="~/assets/img/review/star-1.png" />
                    <img class="Star4" src="~/assets/img/review/star-1.png" />
                    <img class="Star5" src="~/assets/img/review/star-1.png" />
                </ul>
                <div class="Legiahan617">legiahan617</div>
                <div class="reviewtext">Không gì tuyệt vời bằng 1 lượng caffein buổi sáng!!!</div>
            </div>
        </il>

        <il class="Component">
            <div class="Comment">
                <img class="Ellipse5" src="~/assets/img/review/hanabi.png" />
                <ul class="ratings">
                    <img class="Star1" src="~/assets/img/review/star-1.png" />
                    <img class="Star2" src="~/assets/img/review/star-1.png" />
                    <img class="Star3" src="~/assets/img/review/star-1.png" />
                    <img class="Star4" src="~/assets/img/review/star-1.png" />
                    <img class="Star5" src="~/assets/img/review/star-1.png" />
                </ul>
                <div class="Legiahan617">legiahan617</div>
                <div class="reviewtext">Không gì tuyệt vời bằng 1 lượng caffein buổi sáng!!!</div>
            </div>
        </il>

       <il class="Component">
            <div class="Comment">
                <img class="Ellipse5" src="~/assets/img/review/hanabi.png"/>
                <ul class="ratings">
                    <img class="Star1" src="~/assets/img/review/star-1.png" />
                    <img class="Star2" src="~/assets/img/review/star-1.png" />
                    <img class="Star3" src="~/assets/img/review/star-1.png" />
                    <img class="Star4" src="~/assets/img/review/star-1.png" />
                    <img class="Star5" src="~/assets/img/review/star-1.png" />
                </ul>
                <div class="Legiahan617" >legiahan617</div>
                <div class="reviewtext">Không gì tuyệt vời bằng 1 lượng caffein buổi sáng!!!</div>
            </div>
        </il>
    </ul>
    <!--ReviewBoxEnd-->
</body>