@using AlphaShop.Data
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/assets/css/orderlist.css" runat="server" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
@model StaffIOrderManageVM

<body>
    <!-- navbar -->
    <!-- navbar -->
    <!-- orderlist -->
    <div class="order-manage">
        <div class="div">
            
            <div class="text-wrapper">Quản lí nhận đơn</div>
            <div class="icon">
                <li class="fa-solid fa-list-check"></li>
            </div>
            <ul class="item__holder">
                @foreach (var item in Model.orderlist)
                {
                    <li class="frame">
                        <div class="prop__holder">
                            <div class="text-wrapper-4">ID:#@item.OrdId</div>
                            <div class="text-wrapper-4">Đơn hàng của @Model.NameList[Model.orderlist.IndexOf(item)]</div>
                            <div class="text-wrapper-4">Date: @item.OrdDate </div>
                            <!-- Thêm các thuộc tính khác của đơn hàng mà bạn muốn hiển thị -->
                        </div>
                        <div class="ord__btn--holder">
                            <!-- Thêm nút "Chi tiết" và đặt id cho nút là unique -->
                            <form method="post" asp-action="OrderDetailManage" asp-controller="Staff">
                                <input type="hidden" name="id" value="@item.OrdId">
                                <button type="submit" class="__main--btn" name="act_btn">Chi tiết</button>
                            </form>
                        </div>
                    </li>

                }
            </ul>
        </div>
    </div>
    <!-- orderlist -->



</body>
</html>