@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Restricted";
    Layout = null;
}
<head>
    <title>@ViewData["Title"]</title>
</head>
<h1>@ViewData["Title"]</h1>
<p>Tài khoản của bạn đã bị ngừng, vui lòng liên hệ quản trị viên cho thông tin chi tiết</p>
<p>Email: huukhoa04@gmail.com</p>
<a asp-action="Login" asp-controller="Log">Trở lại Đăng Nhập</a>