@model AlphaShop.Models.RegisterModel
@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký tài khoản</title>
    <link rel="stylesheet" href="~/assets/css/creat.css">
    <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
</head>
<body>
    <form asp-action="Register" class="container">
        <div class="login-box">
            <div class="logo"></div>
            <h2>Đăng ký</h2>
            @* <div class="input-group">
            <label asp-for=Id>Id </label>
            <input asp-for=Id type="number" class="input" required>
            </div> *@
            <div class="input-group">
                <label asp-for=LogUsername>Tên đăng nhập </label>
                <input asp-for=LogUsername type="text" class="input" required>
            </div>
            <div class="input-group">
                <label asp-for=Username>Tên thật</label>
                <input asp-for=Username type="text" class="input" required>
            </div>
            <div class="input-group">
                <label asp-for=Email>Email </label>
                <input type="email" class="input" asp-for=Email required>
            </div>
            <div class="input-group">
                <label asp-for=PhoneNumber>Số điện thoại </label>
                <input asp-for=PhoneNumber type="text" class="input" required>
            </div>
            <div class="radio__input-group">
                <label>Giới tính</label>
                <div class="gender__container-main" required>
                    <div class="gender__container">
                        <input asp-for="Gender" type="radio" class="gender__input-1" value="true">
                        <label for="gender__input-1">Nam</label>
                    </div>
                    <div class="gender__container">
                        <input asp-for="Gender" type="radio" class="gender__input-2" value="false">
                        <label for="gender__input-2">Nữ</label>
                    </div>
                </div>
            </div>
            <div class="date__input-group">
                <label asp-for=Birthday>Ngày sinh</label>
                <input asp-for=Birthday type="date" class="date__input" required>
            </div>
            <div class="input-group">
                <label asp-for=Password>Mật khẩu </label>
                <input asp-for=Password type="password" class="input" name="Password" required>
            </div>

            <div class="input-group">
                <label asp-for=ConfirmPassword style="text-align: left;">Xác nhận mật khẩu </label>
                <input asp-for=ConfirmPassword type="password" class="input" name="ConfirmPassword" required>
            </div>
            <input type="submit" class="btn" value="Đăng ký">
            <h3>@ViewBag.RegisterFailed</h3>
        </div>
        <ul class="list">
            <li class="list__item">
                <a asp-action="Login" class="list__item-link">Đã có tài khoản? Đăng nhập</a>
            </li>
        </ul>
    </form>
</body>
