* {
    box-sizing: border-box;
    margin: 0;
    font-family: "JetBrains Mono";
}

body {
    background-color: white;
    /* position: relative; */
    /* temp */
}
/* navbar */
.nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    box-shadow: 1px 2px 3px #000000;
    z-index: 999;
}

.nav__bar--1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 70px;
}

.nav__flag--lang {
    display: flex;
    justify-content: space-evenly;
}

.nav__flag {
    margin-top: 20px;
    margin-left: 10px;
    width: 30px;
    height: 25px;
}

    .nav__flag:hover {
        opacity: 0.5;
    }

#nav__flag1 {
    background-image: url("..\\img\\nav-bar\\vietnam.png");
    background-size: 105%;
    background-position: -1px;
    /* background: transparent; */
    border: none;
}

#nav__flag2 {
    background-image: url("..\\img\\nav-bar\\england.png");
    background-size: 105%;
    background-position: -1px;
    /* background: transparent; */
    border: none;
}

#nav__flag3 {
    background-image: url("..\\img\\nav-bar\\china.png");
    background-size: 105%;
    background-position: -1px;
    /* background: transparent; */
    border: none;
}

.nav__logo {
    background-image: url("..\\img\\nav-bar\\Group1.png");
    background-size: 100%;
    margin-top: 5px;
    margin-left: 400px;
    width: 200px;
    height: 69px;
}

.accountlink {
    color: black;
    margin-top: 5px;
    font-size: 14px;
    margin-left: 20px;
}

.cart_icon {
    margin-top: 20px;
    margin-left: 150px;
    margin-right: -100px;
    width: 30px;
    height: 25px;
}

#cart_icon {
    background-image: url("..\\img\\cart\\cart.png");
    background-size: 105%;
    background-position: -1px;
    background-color: transparent;
    /* background: transparent; */
    border: none;
}

.nav__bar--2 {
    background-color: black;
    color: white;
    height: 50px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}

.nav__item {
    margin-top: 10px;
    padding: 5px;
    border: none; /* Remove border */
    border-radius: 5px;
    font-size: 12px;
    color: white;
    background: black;
}

    .nav__item:hover {
        color: black;
        background: white;
    }
