* {
    box-sizing: border-box;
    margin: 0;
    font-family: "JetBrains Mono";
}

body {
    background-color: white;
    /* position: relative; */
    /* temp */
}
/* navbar */
.nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    box-shadow: 1px 2px 3px #000000;
    z-index: 999;
}

.nav__bar--1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 70px;
}

.nav__flag--lang {
    display: flex;
    justify-content: space-evenly;
}

.nav__flag {
    margin-top: 20px;
    margin-left: 10px;
    width: 30px;
    height: 25px;
}

    .nav__flag:hover {
        opacity: 0.5;
    }

#nav__flag1 {
    background-image: url("..\\img\\nav-bar\\vietnam.png");
    background-size: 105%;
    background-position: -1px;
    /* background: transparent; */
    border: none;
}

#nav__flag2 {
    background-image: url("..\\img\\nav-bar\\england.png");
    background-size: 105%;
    background-position: -1px;
    /* background: transparent; */
    border: none;
}

#nav__flag3 {
    background-image: url("..\\img\\nav-bar\\china.png");
    background-size: 105%;
    background-position: -1px;
    /* background: transparent; */
    border: none;
}

.nav__logo {
    background-image: url("..\\img\\nav-bar\\Group1.png");
    background-size: 100%;
    margin-top: 5px;
    width: 200px;
    height: 69px;
}

.accountlink {
    color: black;
    margin-top: 20px;
    font-size: 14px;
}

/* navbar */

/* CustomerInfo */
.CustomerInfoBox {
    width: 630px;
    height: 500px;
    left: 80px;
    top: 151px;
    position: absolute;
}

.CustomerRect {
    width: 630px;
    height: 500px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
    box-shadow: 5px 5px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 1px black solid;
}

.InfoText {
    position: absolute;
    text-align: center;
    color: black;
    word-wrap: break-word;
}

#CustomerInfo {
    left: 25px;
    top: 10px;
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
}

#Name {
    left: 54px;
    top: 57px;
    font-size: 12px;
}

#Phone {
    left: 54px;
    top: 100px;
    font-size: 12px;
}

#Address {
    left: 54px;
    top: 146px;
    font-size: 12px;
}

#GhiChu {
    left: 25px;
    top: 209px;
    font-size: 12px;
}

.Line {
    width: 580px;
    height: 0px;
    left: 25px;
    position: absolute;
    border: 1px rgba(0, 0, 0, 0.25) solid;
}

#Line1 {
    top: 32px;
}

#Line2 {
    top: 86px;
}

#Line3 {
    top: 132px;
}

.GhiChuBox {
    width: 580px;
    height: 200px;
    left: 25px;
    top: 239px;
    position: absolute;
    background: white;
    border: 1px black solid;
}

.inputGhichu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 15px;
    color: #685E5E;
    padding: 10px;
    box-sizing: border-box;
    background: transparent;
}

.icon {
    width: 20px;
    height: 25px;
    left: 25px;
    top: 98px;
    position: absolute;
    background: transparent;
}

#icon1 {
    background-image: url("..\\img\\order\\phoneicon.png");
    background-size: 105%;
    background-position: 0px;
    left: 25px;
    top: 98px;
}

#icon2 {
    background-image: url("..\\img\\order\\usericon.png");
    background-size: 100%;
    background-position: 0px;
    left: 25px;
    top: 52px;
}

#icon3 {
    background-image: url("..\\img\\order\\positionicon.png");
    background-size: 100%;
    background-position: 0px;
    left: 25px;
    top: 141px;
}

/* CustomerInfo End*/

/* OrderInfo*/

.OrderInfoBox {
    width: 630px;
    height: 700px;
    left: 730px;
    top: 151px;
    position: absolute;
}

.OrderRect {
    width: 630px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
    box-shadow: 5px 5px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 1px black solid;
}

#OrderInfo {
    left: 22px;
    top: 10px;
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
}

#Line4 {
    left: 22px;
    top: 42px;
}

.OrderList {
    width: 100%;
    top: 60px;
    position: relative;
}

.OrderItem {
    width: 100%;
    height: 100px;
    right: -30px;
    position: relative;
}

.Itembox {
    width: 500px;
    height: 100px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: white;
    border: 1px #D9D9D9 solid;
}

.DrinkImg {
    width: 90px;
    height: 90px;
    left: 5px;
    top: 5px;
    position: absolute;
    background: transparent;
}

#DrinkImg {
    background-image: url("..\\img\\drinklist\\image-holder.png");
    background-size: 100%;
    background-position: 0px;
}

#OrderList li {
    list-style-type: none;
    margin-bottom: 10px;
}

#DrinkName {
    left: 108px;
    top: 12px;
    font-size: 12px;
}

.Size {
    left: 108px;
    top: 32px;
    position: absolute;
    text-align: center;
    color: #999999;
    font-size: 12px;
    font-family: JetBrains Mono;
    font-weight: 400;
    word-wrap: break-word;
}

.Option {
    left: 108px;
    top: 52px;
    position: absolute;
    text-align: center;
    color: #999999;
    font-size: 12px;
    font-family: JetBrains Mono;
    font-weight: 400;
    word-wrap: break-word;
}

.Price {
    left: 108px;
    top: 72px;
    position: absolute;
    text-align: center;
    color: #e100ff;
    font-size: 12px;
    font-family: JetBrains Mono;
    font-weight: 400;
    word-wrap: break-word;
}

#Soluong {
    margin-top: 20px;
    font-size: 12px;
   
}

#TotalDrink {
    margin-top: 20px;
    font-size: 12px;
    margin-left: 350px;
   
}

#TransportCost {
    margin-top: 40px;
    font-size: 12px;
    margin-left: 350px;
    
}

#Total {
    margin-top: 60px;
    font-size: 12px;
    margin-left: 350px;
    
}

#Line6 {
    margin-top: 100px;
}

.xxxxx {
    position: relative;
    text-align: center;
    color: #e100ff;
    font-size: 12px;
    font-weight: 400;
    word-wrap: break-word;
}

#TotalDrinkPrice {
    font-size: 12px;
    margin-left: 450px;
    margin-top: 28px;
}

#TransportPrice {
    font-size: 12px;
    margin-left: 450px;
    margin-top: -5px;
}

#TotalPrice {
    font-size: 12px;
    margin-left: 450px;
    margin-top: -5px;
}

.OrderBox {
    width: 150px;
    height: 57px;
    left: 400px;
    margin-top: 50px;
    position: relative;
}

.Rectbackground {
    width: 150px;
    height: 50px;
    left: 18.29px;
    top: 12px;
    position: absolute;
    background: #F5DF91;
}

.Btn {
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #FEFFC8;
    border: transparent;
    color: black;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
}

.OrderBox:hover .Btn {
    background-color: green;
    color: white
}

.OrderBox:hover .Rectbackground {
    background-color: aquamarine;
}

/* OrderInfo End*/
/* PaymentInfo*/
.PaymentBox {
    width: 630px;
    height: 154px;
    left: 80px;
    top: 697px;
    position: absolute;
}

.PaymentRect {
    width: 630px;
    height: 109px;
    left: 0px;
    top: 1px;
    position: absolute;
    background: white;
    box-shadow: 5px 5px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: 1px black solid;
}

#PaymentInfo {
    left: 25px;
    top: 14px;
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
}

.momoImg {
    width: 20px;
    height: 22.39px;
    left: 28px;
    top: 39.85px;
    position: absolute;
    border: transparent;
    background-color: transparent;
}

#momoImg {
    background-image: url("..\\img\\order\\momo.png");
    background-size: 100%;
    background-position: 0px;
}

.codImg {
    width: 20px;
    height: 21.54px;
    left: 28px;
    top: 77px;
    position: absolute;
    border: transparent;
    background-color: transparent;
}

#codImg {
    background-image: url("..\\img\\order\\cod.png");
    background-size: 100%;
    background-position: 0px;
}

#MomoText {
    left: 68px;
    top: 42px;
    font-size: 12px;
}

#CodText {
    left: 68px;
    top: 79px;
    font-size: 12px;
}
